<div class="container portfolio-container">
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 750db8ca1b95dfb5a3e5d1378a70126b4a759246
=======

>>>>>>> origin/master
  <h1>Edit this Portfolio Item</h1>

  <%= render 'form', portfolio_item: @portfolio_item %>
</div>
