<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "pexels-photo-699122.jpeg", width: 300, alt: "Profile image" %>
  </div>

  <div class="col-md-8">
    <p>Hi, i am 30 years old and i am new to programming. I am trying to land my first developer job.
    I am self thought and with the help of udemy i have started to learn ruby on rails from home between my job. I have done numerous projects
    as this website.

    <p>
    For the last 13 years i have been a chef, but now i have desided to change my life for the better and change my carrer.
    I started 1 year a go to find something i liked, and i just fell in love in coding.I tried a few different languages
    but i found Ruby as a good language and i stuck with Ruby. I know i dont have any real work experience yet, but i am
    very motivated and a fast learner. <br><br>

    Hope to hear from you soon <br><br>

    best regards <br><br>

    Christian Rognstad.
    </p>

    <p>
    Language spoken: Norwegian, English and French.</br>
    Language Written: Norwegian and English.
    </p>
  </div>
</div>
