<h1>About Me</h1>
<p>Hi, i am 30 years old and i am  new to programming. I am trying to land my first junior position,
i am self thought and with the help of udemy i have learnd ruby on rails from home between my job. I have done numerous projects
as this website and  you can see my different projects in my portfolio page. I dont have any real work experience yet so
i am hoping that someone will help me to get a foot in the door and can help me to become a good efficant programmer</p>

<p>
  For the last 13 years i have been a chef, but now i have deside to change my life for the better and change my carrer.
  I started 1 year a go to find something i like and i just fell in love in coding, and i tried a few different language
  but i found Ruby as a good language and i stuck with Ruby. I am a fast learner and very motivated for programmming. I know
  i dont have any real work experience and that it will be an investment for you in the beginning since i have to be trained, but i
  am hoping to get a chance so that i can proove to you that i am worth the effort.
</p>
