<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Hi and welcome to my portfolio.
    My name is Christian Rognstad. Feel free to have a look at my portfolio and the different project i have done.
    I am currently looking to land my first developer job. You can also follow me on
    <a href="https://github.com/cricri87" target="_blank"><%= fa_icon "github-square lg" %></a>
    <a href="https://www.linkedin.com/in/christian-rognstad-4921b4130/" target="_blank"<%= fa_icon "linkedin-square lg" %></a></p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
